node_modules
dist
*.local
server/config.json
tsconfig.tsbuildinfo
projeto/*.json
videos/*
!videos/.gitkeep
public/video/
render/*.mp4
render/*.png
render/.bundle/
public/midia/
tmp-txt/
render/.tmp/
presets/
render/.fontes/
backups/
projeto/.miniaturas/
render/.estado.json
render/.tmp/
render/*.mp4
correcoes.json
projeto/.versoes/
